@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .sm-input {
    @apply px-3 py-3 bg-gray-200 dark:bg-gray-700 bg-opacity-50 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition ease-in-out duration-150 text-sm text-black dark:text-white;
  }
  .sm-input {
    @apply px-3 py-3 bg-gray-200 dark:bg-gray-700 bg-opacity-50 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition ease-in-out duration-150 text-sm text-black dark:text-white;
  }
  .sn-select {
    @apply border p-1 border-neutral-200 dark:border-neutral-700 text-zinc-600 dark:text-zinc-300 bg-white dark:bg-zinc-800 rounded-md text-sm;
  }
  .sn-input {
    @apply input input-sm input-bordered bg-white border-zinc-200 dark:border-neutral-600 dark:bg-zinc-800 text-zinc-700 dark:text-white focus:outline-none text-sm rounded-md;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.custom-bg {
  background-color: #e5e5f7;
  opacity: 0.6;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 14px
    ),
    repeating-linear-gradient(#25640355, #256403);
}

.border-shadow {
  filter: drop-shadow(2px 2px 0px #fff);
}
#map {
  width: 100% !important;
  height: 100% !important;
}

@media print {
  .print-header {
    display: flex;
  }
  #map {
    width: 100% !important;
    height: 100% !important;
  }
}
